/* Betterrev CSS that overrides Twitter Bootstrap */

body {
    padding-top: 60px;
}

table {
    font-size: 12px;
}

.actionColumn {
    width: 5%;
}

.verticalSpacer {
    height: 6px;
}

.br-icon {
    vertical-align: inherit;
}

.br-iconCaption {
    display: inline-block;
    font-weight: bold;
    font-size: 16pt;
    font-variant: small-caps;
    margin-bottom: 12px;
}

/* Pull Review Overview Screen Specific CSS */

.pullReviewOverview-sectionBox {
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 12px 8px 8px 12px;
}

.pullReviewOverview-fieldName {
    font-weight: bold;
    text-decoration: underline;
}

.pullReviewOverview-url,
.pullReviewOverview-fieldValue {
    margin-bottom: 8px;
}

/* Pull Review Status Colours */

.pullReviewStatus {
    font-weight: bold;
}

.pullReviewStatus .OPEN {
    color: gray;
}

.pullReviewStatus .PENDING_APPROVAL {
    color: orange;
}

.pullReviewStatus .ACCEPTED {
    color: blue;
}

.pullReviewStatus .MERGED {
    color: cyan;
}

.pullReviewStatus .REJECTED {
    color: red;
}

.pullReviewStatus .TERMINATED {
    color: purple;
}