@(reviews:List[PullReview])

@main("Open Pull Reviews: Betterrev", false, true, false, false, false) {

    <table class="table">
        <thead>
            <th>Name</th>
            <th>Repository</th>
            <th>Pull Request</th>
            <th>Requester</th>
            <th>Created On</th>
            <th>Updated On</th>
            <!-- TODO Derive from Events -->
            <th>Status</th>
        </thead>
        <tbody>
        @for(review <- reviews) {
            <tr>
                <td><a href="/pullreview/@review.id/">@review.name</a></td>
                <td>@review.repositoryId</td>
                <td>@review.pullRequestId</td>
                <td>@(review.requester.name)</td>
                <td>@(utils.DateTimePattern.format(review.createdOn))</td>
                <td>@(utils.DateTimePattern.format(review.updatedOn))</td>
                <td>TODO</td>
            </tr>
        }
        </tbody>
    </table>

}
